
{% extends 'DRPRegistrarGeneralBundle::layout_registrarGeneral_dash.html.twig' %}

{% block body %}
<script>
function addDocuments(id)
{
window.location.href = '{{ path("registrarGeneral_addDrbDocuments") }}?code='+id;
}

function viewDocuments(id)
{
window.location.href = '{{ path("registrarGeneral_viewDrbdocuments") }}?id='+id;
}

function viewDetail(id)
{
window.location.href = '{{ path("registrarGeneral_viewDrb") }}?id='+id;
}
function changeRegistrationStatus(id, currentStatus)
	{

		var arrId = id.split('-');
		id = arrId[1];
		$.ajax({
	   		 url: '{{ path("registrarGeneral_changeRegistrationStatus") }}',
	   		 type: 'POST',
	   		 data: {id:id, currentStatus:currentStatus, objectType:'Lease'},
	   		 success:function(updatedStatus)
	   		 {
				$("#divStatus-"+id).html(updatedStatus);
				location.reload();
	   		 }
	   	});
	}

</script>
<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<!--<div class="page-title">
					<h1>Manage Users <small></small></h1>
				</div>-->
				<!-- END PAGE TITLE -->
				<!-- BEGIN PAGE TOOLBAR -->
				<div class="page-toolbar">
					<!-- BEGIN THEME PANEL -->
					<!--<div class="btn-group btn-theme-panel">
						<a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
						<i class="icon-settings"></i>
						</a>
						<div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<h3>THEME</h3>
									<ul class="theme-colors">
										<li class="theme-color theme-color-default active" data-theme="default">
											<span class="theme-color-view"></span>
											<span class="theme-color-name">Dark Header</span>
										</li>
										<li class="theme-color theme-color-light" data-theme="light">
											<span class="theme-color-view"></span>
											<span class="theme-color-name">Light Header</span>
										</li>
									</ul>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12 seperator">
									<h3>LAYOUT</h3>
									<ul class="theme-settings">
										<li>
											 Theme Style
											<select class="layout-style-option form-control input-small input-sm">
												<option value="square" selected="selected">Square corners</option>
												<option value="rounded">Rounded corners</option>
											</select>
										</li>
										<li>
											 Layout
											<select class="layout-option form-control input-small input-sm">
												<option value="fluid" selected="selected">Fluid</option>
												<option value="boxed">Boxed</option>
											</select>
										</li>
										<li>
											 Header
											<select class="page-header-option form-control input-small input-sm">
												<option value="fixed" selected="selected">Fixed</option>
												<option value="default">Default</option>
											</select>
										</li>
										<li>
											 Top Dropdowns
											<select class="page-header-top-dropdown-style-option form-control input-small input-sm">
												<option value="light">Light</option>
												<option value="dark" selected="selected">Dark</option>
											</select>
										</li>
										<li>
											 Sidebar Mode
											<select class="sidebar-option form-control input-small input-sm">
												<option value="fixed">Fixed</option>
												<option value="default" selected="selected">Default</option>
											</select>
										</li>
										<li>
											 Sidebar Menu
											<select class="sidebar-menu-option form-control input-small input-sm">
												<option value="accordion" selected="selected">Accordion</option>
												<option value="hover">Hover</option>
											</select>
										</li>
										<li>
											 Sidebar Position
											<select class="sidebar-pos-option form-control input-small input-sm">
												<option value="left" selected="selected">Left</option>
												<option value="right">Right</option>
											</select>
										</li>
										<li>
											 Footer
											<select class="page-footer-option form-control input-small input-sm">
												<option value="fixed">Fixed</option>
												<option value="default" selected="selected">Default</option>
											</select>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<!-- END PAGE TOOLBAR -->
			</div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE BREADCRUMB -->
			<!--<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="index.html">Home</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">Data Tables</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">Editable Datatables</a>
				</li>
			</ul>-->
			<!-- END PAGE BREADCRUMB -->
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-edit"></i>Pending DRB
							</div>
							<div class="tools">
								
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<!--<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<a href="javascript:;">
													Print </a>
												</li>
												<li>
													<a href="javascript:;">
													Save as PDF </a>
												</li>
												<li>
													<a href="javascript:;">
													Export to Excel </a>
												</li>
											</ul>-->
										</div>
									</div>
								</div>
							</div>
							<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
							<thead>
							<tr class="table_color">
								<th>
									Ref. number 
								</th>
								<th>
									Serial number 
								</th>
							
								<th>
									 Date of Receipt
								</th>
								
								
								<th>
									 Situation of Land
									
								</th>
									
								<th>
									Date of Execution
								</th>
								<!--<th>
									Registrar General's inititials
								</th>-->
								

								<th>
									Status
								</th>
								
					
							</tr>
							</thead>
							<tbody>
						{% for detailDRB in properties %}
							<tr>
								<td>
									 {{detailDRB.reference_number}}
								</td>

								<td>
 {{detailDRB.serial_number}}
								</td>
<td>
									{{detailDRB.receipt_date}}
									
								</td>

								<td style="font-weight:bold;">
									 {{detailDRB.land_situation}}
								</td>
								
								
								<td>
			                                               {{detailDRB.execution_date}}
								</td>
								
								

								{% if detailDRB.status == 0   %}
									<td id="divStatus-{{detailDRB.id}}">  
									<div id="divStatus-{{detailDRB.id}}" style="float:left">
										<input type="button" onclick="javascript:changeRegistrationStatus('status-{{detailDRB.id}}', 1);" class="btn green" value="Approve" title="Click to Approve" style="width:90px;padding:6px;">
										<input type="button" onclick="javascript:changeRegistrationStatus('status-{{detailDRB.id}}', 2);" class="btn red" value="Reject" title="Click to Reject" style="width:90px;padding:6px;">
										</td>
							  	{% else %}
									{% if detailDRB.status == 1   %}
										<td id="divStatus-{{detailDRB.id}}">  
											<span class="label label-sm label-info status">Approved</span>
										</td>
									{% else %}
										<td id="divStatus-{{detailDRB.id}}">  
											<span class="label label-sm label-danger status">Disapproved</span>
										</td>
									{% endif %}
								{% endif %}
					
						
							</tr>
							{% endfor %}
							
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT -->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<style>
.table_color
{
 background: none repeat scroll 0 0 #4270c4;
    color: white;
}
.status
{
 font-weight: bold;
    margin-top: 25px !important;
    padding: 4px 2px 9px!important;
}
</style>
{% endblock%}
